@import url(normalize.css);
@import url(reset.css);

@import url(variaveis.css);
@import url(loader.css);
@import url(no-script.css);
@import url(modal.css);

@import url(./componentes/botoes.css);

@import url(./elementos/cabecalho.css);
@import url(./elementos/conteudo.css);
@import url(./elementos/codigos.css);
@import url(./elementos/instrucao.css);
@import url(./elementos/footer.css);

html{
  scroll-behavior: smooth;
}

body{
  color: var(--cor-de-texto);
  background-color: var(--cor-de-fundo);
  font-family: 'Inter Tight', sans-serif;
  font-size: var(--tamanho-fonte-texto-normal);
}

a, button{
  cursor: pointer;
}

.link-visivel{
  text-decoration: underline;
}

.tudo{
  margin: 0 var(--tamanho-margem);
}